{
  plugins: ['html'],
  "extends": "airbnb/base",
  "env": {
    browser: true
  },
  "rules": {
    "new-cap": ["error", {"capIsNewExceptions": ["Polymer", "ObjectId"]}],
    "no-underscore-dangle": ["error", { "allowAfterThis": true, "allow": ["_id"] }],
    "no-unused-vars": ["error", { "varsIgnorePattern": "debug" }],
    "no-invalid-this": 0
  },
  "globals": {
    "ASQ": false,
    "Polymer": false,
    "Promise": false
  }
}